@model List<PhotoInfo>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h3>Rename photo</h3>
    <input class="form-control rename-photo-custom-name" type="text" placeholder="Filename"/>
    <a id="submitRename" href="#" class="btn btn-light">Go!</a>
    <p id="filename-validation"></p>
</div>

<div class="px-lg-5">
    <div class="row pb-5">
        <div class="col-lg-12 mx-auto">
            <div class="text-white p-5 shadow-sm rounded banner">
                <h1 class="display-4">Your photos</h1>
                <p class="lead">Here are all the photos you have stored.</p>
                <p class="lead">Click on a photo to rename it.</p>
            </div>
        </div>
    </div>

    @if (Model.Count == 0)
    {
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No photos uploaded yet</h1>
                <p class="lead">Photos will be displayed after you upload them.</p>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded pic-thumbnail">
                    <form asp-action="UploadNewPhoto" enctype="multipart/form-data">
                        <div class="p-4">
                            <h5 id="uploadNewPhoto" class="text-dark">Upload New Photo</h5>
                            <p class="small text-muted mb-0"><span class="glyphicon glyphicon-plus">+</span></p>
                            <div class="form-group my-hidden-object">
                                <input type="file" accept="image/*" class="form-control border-0" name="photo">
                                <input class="form-control" type="text" name="name" placeholder="Optional name" />
                                <button class="btn btn-dark" type="submit">Upload</button>
                            </div>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger font-weight-bold" })
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded pic-thumbnail">
                    <form asp-action="UploadNewPhoto" enctype="multipart/form-data">
                        <div class="p-4">
                            <h5 id="uploadNewPhoto" class="text-dark">Upload New Photo</h5>
                            <span class="glyphicon glyphicon-plus">+</span>
                            <p class="small text-muted mb-0"></p>
                            <div class="form-group my-hidden-object">
                                <input type="file" name="photo" />
                                <input class="form-control" type="text" name="name" placeholder="Optional name" />
                                <button class="btn btn-dark" type="submit">Upload</button>
                            </div>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger font-weight-bold" })
                        </div>
                    </form>
                </div>
            </div>
            @foreach (var PhotoData in Model)
            {
                <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                    <div class="bg-white rounded pic-thumbnail">
                        <img src=@PhotoData.Url alt="" class="img-fluid card-img-top gallery-picture" value="@PhotoData.Guid">

                        <div class="p-4">
                            <h5 class="text-dark">@System.IO.Path.GetFileNameWithoutExtension(PhotoData.PhotoName)</h5>
                            <p class="small text-muted mb-0"></p>
                        </div>

                        <div class="p-4 my-hidden-object">
                            <a class="btn btn-light rename-btn">Rename</a>
                            <a class="btn btn-danger text-light delete-btn">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
