@model List<PhotoInfo>
@{
    ViewData["Title"] = "View Photos";
}

<div class="page-header">
    <h1>Your photos</h1> 
    <p>Here are all the photos you have stored.</p> 
  </div>

<div class="row organize-row">
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i % 3 == 0 && i > 0)
        {
            @:</div><div class="row organize-row">
        }

        <div class="col-lg-4 mb-4 mb-lg-0 text-center">
            <a target="_blank" href="https://localhost:5001/api/image/thumbnail/22">
                <img src="https://localhost:5001/api/image/thumbnail/22" class="shadow-1-strong rounded mb-4 pic-thumbnail" alt="" />
            </a>
            @Model[i].PhotoName
        </div>
    }
</div>
