@model List<PhotoInfo>
@{
    ViewData["Title"] = "View Photos";
}

<div class="row">
    @for (int i = 0; i < 3; i++)
    {
        if (i % 3 == 0 && i > 0)
        {
            @:</div><div class="row">
        }

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                class="w-100 shadow-1-strong rounded mb-4" alt="" />
        </div>
    }
</div>
