@model IEnumerable<Collection>

@{
    ViewData["Title"] = "Collections";
}

<div class="row">
    <div class="col">
        <h1>Collections:</h1>
        @if (Model.ToList().Count == 0)
        {
            <h2>It looks like this user doesn't have any Collections yet. Bummer!</h2>
        }
        @foreach (var collection in Model)
        {
    <div class="collection-container">
        <a class="btn btn-primary" asp-controller="Home" asp-action="@collection.Route" asp-route-name="">@collection.Name</a>
        <p>@collection.DateMade</p>
        <div class="keyword-container">
            @foreach (var kw in collection.CollectionKeywords)
            {
                <p>@kw</p>
            }
        </div>
    </div>
        }
    </div>
</div>
