@model FollowList

@{
    ViewData["Title"] = "Following";
}

<div class="row">
    <div class="col">
        <h1>@Model.Target's Followers:</h1>
        @if (Model.Follows.ToList().Count == 0)
        {
            <h2>Looks like @Model.Target isn't following anybody.</h2>
        }
        @foreach (var followed in Model.Follows)
        {
            <div>
                <p>@followed.FollowedNavigation.UserName</p>
            </div>
        }
    </div>
</div>