@{
    ViewData["Title"] = "Help with uploading a photo";
}

<div class="container py-5">

    <header class="text-center">
        <h1>@ViewData["Title"]</h1>
    </header>
    <p class="lead mb-0 center-div pt-3">
            Press the "Choose file" button and choose a photo from your computer. Optional:
            Type in a name for your photo where it says "Optional name". Now, once you have chosen
            a photo to submit, press the blue "Submit" button towards the button of the page.
    </p>
</div>
