@{
    ViewData["Title"] = "About Us";
}



@*Disclaimer and Promotion*@
<section class="clear-section" id="">
    <div class="container-fluid cf-padding">
        <h1 class="text-center">Disclaimer</h1>
        <h3 class="text-center">This Web Application is a Senior Capstone Project</h3>
        <h3 class="text-center">CS 461 & CS 462</h3>
        <h3 class="text-center">Western Oregon University</h3>
        <h3 class="text-center">Our Team Members Include:</h3>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="col mb-4">
                <a href="https://github.com/baltazarO"><strong>Baltazar Ortiz</strong></a>
            </div>
            <div class="col mb-4">
                <a href="https://github.com/reilly-cuauhtemoc-8178"><strong>Cuauhtemoc Reilly</strong></a>
            </div>
            <div class="col mb-4">
                <a href="https://github.com/drussell33"><strong>Derek Russell</strong></a>
            </div>
            <div class="col mb-4">
                <a href="https://github.com/Rafarell"><strong>Rafael Arellano</strong></a>
            </div>
        </div>
        <hr />
        <h3 class="text-center">Also checkout our projects code base at Github</h3>
        <h3 class="text-center"><a href="https://github.com/reilly-cuauhtemoc-8178/wou-cs-46x-starlane"><strong>iCollections Github Repository</strong></a></h3>
    </div>
</section>


@*Project Purpose and Vision*@
<section class="silver-section" id="">
    <div class="container-fluid cf-padding">
        <h1>Project Purpose and Vision</h1>
        <p>iCollections is for anyone who wants an easy and fun way to share their collections, collectables, or just Photos. THe iCollection Web Application can upload and render photos of their photos that will be displayed in a 360 degree view, or a Full virtual environment. The system will store the users uploaded photos, allow user selection of the available environments, and give the ability to place their items into the environments, and then allow others to view their environments filled with their photos. Unlike albums of photos our users will be able to show off large collections of items in a single format that can easily show the scale of the collection, while maintaining the ability to inspect individual items closely.</p>
    </div>
</section>