@{
    ViewData["Title"] = "About Us";
}



@*Project Purpose and Vision*@
<section class="silver-section" id="">
    <div class="container-fluid cf-padding">
        <h1>Project Purpose and Vision</h1>
        <p>For anyone who wants a easy and fun way to share with others their collections or collectables, the 360 iCollectables Creator can upload and render photos of their collectable items that will be displayed in 2D, 360 degree, or possibly 360 full virtual environment. The system will store the users uploaded photos of items, allow user selection of the available environments, and give the ability to place their items into the environment at specific locations, and then allow others to view their environments filled with their collectable items. Unlike albums of photos our users will be able to show off large collections of items in a single format that can easily show the scale of the collection, while maintaining the ability to inspect individual items closely.</p>
    </div>
</section>


@*Disclaimer and Promotion*@
<section class="clear-section" id="">
    <div class="container-fluid cf-padding">
        <h1 class="text-center">Disclaimer</h1>
        <h3 class="text-center">This Web Application is a Senior Capstone Project</h3>
        <h3 class="text-center">CS 461 & CS 462</h3>
        <h3 class="text-center">Western Oregon University</h3>
        <h3 class="text-center">Our Team Members Include:</h3>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="col mb-4">
                <a href="https://github.com/baltazarO"><strong>Baltazar Ortiz</strong></a>
            </div>
            <div class="col mb-4">
                <a href="https://github.com/reilly-cuauhtemoc-8178"><strong>Cuauhtemoc Reilly</strong></a>
            </div>
            <div class="col mb-4">
                <a href="https://github.com/drussell33"><strong>Derek Russell</strong></a>
            </div>
            <div class="col mb-4">
                <a href="https://github.com/Rafarell"><strong>Rafael Arellano</strong></a>
            </div>
        </div>
    </div>
</section>
