<div class="row">
    <div class="col-sm-3 border-me">
        <div class="profile-link">joeyb</div>
        <p><a href="Feed.cshtml">Add photo</a></p>
    </div>

    <div class="col-sm-6 border-me">
        <div class="row news">
            <div class="col-sm-8"><a href="Feed.cshtml">Franklin</a> now follows <a
                    href="Feed.cshtml">Benjamin</a></div>
            <div class="col-sm-4 ago">5 mins ago</div>
        </div>

        <div class="row news">
            <div class="col-sm-8"><a href="Feed.cshtml">Franklin</a> and <a
                    href="Feed.cshtml">Benjamin</a> are now friends</div>
            <div class="col-sm-4 ago">6 mins ago</div>
        </div>

        <div class="post">
            <div class="post-header">
                <div class="fake-image"></div>
                <span class="activity"><a href="Feed.cshtml">Franklin</a> made an iCollection</span>
                <span class="date">December 19, 2017</span>
            </div>

            <!-- collection here -->
        </div>
    </div>

    <div class="col-sm-3 border-me">
        One of three columns
    </div>
</div>
