@{
    ViewData["Title"] = "Home Page";
}

    <h1>Gallery Environment Example</h1>
    <div id="puzzel_environment">
        <div id="blocker">

            <div id="instructions">
                <span style="font-size:36px">Click to Explore</span>
                <br /><br />
                Move: WASD or ARROW KEYS<br />
                Look: MOUSE<br />
                Exit: ESC
            </div>

        </div>
    </div>
   


