@{
    ViewData["Title"] = "Home Page";
}


<div class="col">
    <p>@ViewBag.Message</p>
</div>

<section class="clear-section" id="landing-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1 class="main-title">iCollections</h1>
                <p>The best way to share your collections and collectables</p>
            </div>
            <div class="col-6">
                <img src="img/landing_sample.JPG" class="landing-image" alt="ICollections landing image"/>
            </div>
        </div>
    </div>
</section>

<section class="silver-section" id="">
    <div class="container-fluid">
        <h1>Project Purpose and Vision</h1>
        <p>For anyone who wants a easy and fun way to share with others their collections or collectables, the 360 iCollectables Creator can upload and render photos of their collectable items that will be displayed in 2D, 360 degree, or possibly 360 full virtual environment. The system will store the users uploaded photos of items, allow user selection of the available environments, and give the ability to place their items into the environment at specific locations, and then allow others to view their environments filled with their collectable items. Unlike albums of photos our users will be able to show off large collections of items in a single format that can easily show the scale of the collection, while maintaining the ability to inspect individual items closely.</p>
    </div>
</section>

<section class="clear-section" id="">
    <div class="container-fluid">
        <h1 class="text-center">Disclaimer</h1>
        <h3 class="text-center">This Web Application is a Senior Capstone Project</h3>
        <h3 class="text-center">CS 461 & CS 462</h3>
        <h3 class="text-center">Western Oregon University</h3>
        <h3 class="text-center">Our Team Members Include:</h3>
        <hr/>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="col mb-4">
                <a href="https://github.com/baltazarO"><strong>Baltazar Ortiz</strong></a>
            </div>
            <div class="col mb-4">
                <a href="https://github.com/reilly-cuauhtemoc-8178"><strong>Cuauhtemoc Reilly</strong></a>
            </div>
            <div class="col mb-4">
                <a href="https://github.com/drussell33"><strong>Derek Russell</strong></a>
            </div>
            <div class="col mb-4">
                <a href="https://github.com/Rafarell"><strong>Rafael Arellano</strong></a>
            </div>
        </div>
    </div>
</section>

<section class="silver-section" id="">
    <div class="container-fluid">
        <h1>Description of Features</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="col mb-4">
            <div class="card">
                <img src="img/photo_feature.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Store and Manage Photos</h3>
                    <h6 class="card-subtitle mb-2 text-muted">When you sign up for an account, you'll be able to store your photos online</h6>
                    <p class="card-text">By storing your photos, you can re-use them for multiple iCollections, THat way as your collection grows, your work to display it doesnt..</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="img/editing_feature.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Save and Edit your iCollections</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Let your iCollection change overtime with ease.</h6>
                    <p class="card-text">You can edit your existing iCollection so that when you need to add another item, you simply add that one item, with no additional work.</p>
                </div>
            </div>
        </div>


        <div class="col mb-4">
            <div class="card">
                <img src="img/share_feature.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Publish and Share your iCollections</h3>
                    <h6 class="card-subtitle mb-2 text-muted">iCollection can be private if you wish, or you can publish them and share them with the public or just your friends!</h6>
                    <p class="card-text">You can use the iCollections social media features to publish and share your collections with your friends and followers with ease!</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<section class="clear-section" id="">
    <div class="container-fluid">
        <h1 class="text-center">How Does it Work?</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h3>Step 1. Upload your photos for your new iCollection.</h3>
                    <h5 class="text-center">You can make an iCollection of anything! What do you collect? What do you want to view as a collection?</h5>
                    <img class="d-block w-100" src="img/upload_photo_sample.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <h3>Step 2. Select an iCollections Environment</h3>
                    <h5 class="text-center">Choose the best way to share your individual collections</h5>
                    <img class="d-block w-100" src="img/collection_selection_example.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <h3>Step 3. Review, Edit, and Share your new iCollection with Friends!</h3>
                    <h5 class="text-center">You can also go back and make any changes as your collection grows!</h5>
                    <img class="d-block w-100" src="img/finish_environment_sample.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>



<section class="silver-section" id="">
    <div class="container-fluid">
        <h1>Sample of 2D environment</h1>
        <div class="row">
            <div class="col-6">
                <h4>Fill any 2D area with as many photos as you want!</h4>
                <p>By storing you images, we can fill a canvas 2D HTML object to compact them all as tight as possible. </p>
            </div>
            <div class="col-6">
                <img src="img/2D_example.jpg" class="landing-image" alt="2D Sample image"/>
            </div>
        </div>
    </div>
</section>

<section class="clear-section" id="">
    <div class="container-fluid">
        <h1>Sample of 3D environment</h1>
        <a href="http://stemkoski.github.io/Three.js/Chase-Camera.html">Basic Example of 3D environment roaming feature created by.</a>
        <a href="https://deanssmart.github.io/the-gallery/">Amazing example of a gallery type environment created by deanssmart</a>
    </div>
</section>

<section class="silver-section" id="">
    <div class="container-fluid">
        <h1>Sample of 360 environment</h1>
        
        <a href="https://www.holger-pfaff.de/">Great Live Example Created by Holger.</a>
    </div>
</section>

<section class="clear-section" id="">
    <div class="container-fluid">
        <h1>How we Are Building iCollections</h1>
    </div>
</section>

<section class="silver-section" id="">
    <div class="container-fluid">
        <h1>Acknowledgments</h1>
    </div>
</section>

<section class="silver-section" id="">
    <div class="container-fluid">
        <h1>Our Current Working Sample.</h1>
        <div>
            <canvas id="c"></canvas>
        </div>
    </div>
</section>