@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome TO the Home Page for everyone to see!</h1>
    
</div>

<div class="col">
    <p>@ViewBag.Message</p>
</div>
