@{
    ViewData["Title"] = "Home Page";
}

@*New Landing Area*@
<section class="clear-section" id="landing-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 center ">
                <h1 class="main-title text-responsive">iCollections</h1>
                <p class=" main-sub-title text-responsive">The best way to share your collections and collectables</p>
            </div>
            <div class="col-md-8">
                <img src="~/img/homepage/landing-image-laptop.png" class="landing-image img-responsive" alt="ICollections landing image" />
            </div>
        </div>
    </div>
</section>




@*New How DOes it Work*@
<section class="clear-section" id="">
    <h1 class="section_title text-responsive">How Does it Work?</h1>
    <div class="social-box">
        <div class="container-fluid cf-padding">
            <div class="row">
                <div class="col-lg-4 col-xs-12 text-center">
                    <a asp-controller="UploadPhoto" asp-action="Index">
                        <div class="box">
                            <img src="~/img/homepage/pngaaa.com-3369524.png" class="box-photo img-responsive" alt="Store and Manager Photo Alt" />
                    <div class="box-title">
                        <h3>Upload, Store and Manage your Photos</h3>
                    </div>
                    <hr />
                    <div class="box-text">
                        <span>When you sign up for an account, you'll be able to store your photos online</span>
                        <span>By storing your photos, you can re-use them for multiple iCollections, THat way as your collection grows, your work to display it doesnt..</span>
                    </div>
                </div>
                    </a>
                </div>

                <div class="col-lg-4 col-xs-12 text-center">
                    <a asp-controller="CreateCollection" asp-action="EnvironmentSelection">
                        <div class="box">
                            <img src="~/img/homepage/pngaaa.com-5037454.png" class="box-photo img-responsive" alt="Save and Edit your iCollections" />
                            <div class="box-title">
                                <h3>Select an Environment and Save your iCollection</h3>
                            </div>
                            <hr />
                            <div class="box-text">
                                <span>Let your iCollection change overtime with ease.</span>
                                <span>You can edit your existing iCollection so that when you need to add another item, you simply add that one item, with no additional work.</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-xs-12 text-center">
                    <a asp-controller="Dashboard" asp-action="Index">
                        <div class="box">

                            <img src="~/img/homepage/share_feature.png" class="box-photo img-responsive" alt="Publish and Share your iCollections" />
                            <div class="box-title">
                                <h3>Publish and Share your iCollections</h3>
                            </div>
                            <hr />
                            <div class="box-text">
                                <span>iCollection can be private if you wish, or you can publish them and share them with the public or just your friends!</span>
                                <span>You can use the iCollections social media features to publish and share your collections with your friends and followers with ease!</span>
                            </div>

                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>






@*new new description of features*@
<section class="silver-section" id="">

    <div class="container-fluid cf-padding">
        <h1 class="feature_section_title text-responsive">iCollection Features</h1>

        <!-- Upload Photos -->
        <div class="row">
            <div class="col-md-7">
                
                    <img class="img-fluid rounded mb-3 mb-md-0" src="~/img/homepage/upload_photos_feature.png" alt="">
                
            </div>
            <div class="col-md-5 center">
                <h3>Upload Photos</h3>
                <p>Users can upload the photos they want to use in an iCollection</p>
            </div>
        </div>

        <hr class="line-padding">

        <!-- View / Manage Photos -->
        <div class="row">
            <div class="col-md-5 center">
                <h3>View / Manage Photos</h3>
                <p>View all the photos that have been uploaded and manage their title</p>
            </div>
            <div class="col-md-7">
                
                    <img class="img-fluid rounded mb-3 mb-md-0" src="~/img/homepage/view_photos_feature.png" alt="">
                
            </div>

        </div>
        <!-- /.row -->

        <hr class="line-padding">

        <!-- Profile Page -->
        <div class="row">
            <div class="col-md-7">
                
                    <img class="img-fluid rounded mb-3 mb-md-0" src="~/img/homepage/profile_page_feature.png" alt="">
                
            </div>
            <div class="col-md-5 center">
                <h3>Every User has a Profile</h3>
                <p>THe profile shows others your information</p>
            </div>
        </div>
        <!-- /.row -->

        <hr class="line-padding">

        <!-- Dashboard -->
        <div class="row">
            <div class="col-md-5 center">
                <h3>Dashboard</h3>
                <p>Have a feed of all changes that you and the people you follow have made</p>
            </div>
            <div class="col-md-7">
                
                    <img class="img-fluid rounded mb-3 mb-md-0" src="~/img/homepage/dashboard_feature.png" alt="">
                
            </div>

        </div>

        <hr class="line-padding">

        <!-- Browse Collections -->
        <div class="row">

            <div class="col-md-7">
                
                    <img class="img-fluid rounded mb-3 mb-md-0" src="~/img/homepage/browse_collections_feature.png" alt="">
                
            </div>
            <div class="col-md-5 center">
                <h3>Browse Collection</h3>
                <p>Search iCollections by keywords, name, or date</p>

            </div>
        </div>

        <hr class="line-padding">

        <!-- Create Collections -->
        <div class="row">
            <div class="col-md-5 center">
                <h3>Create iCollections </h3>
                <p>Select an iCollection environment that you what to showcase your photos</p>
            </div>
            <div class="col-md-7">
                
                    <img class="img-fluid rounded mb-3 mb-md-0" src="~/img/homepage/create_collections_feature.png" alt="">
                
            </div>

        </div>
    </div>
</section>


@*Environment Previews Selection*@
<section class="clear-section" id="">
    <div class="container-fluid cf-padding">
        <h1>Sample of 2D environment</h1>
        <div class="row">
            <div class="col-6">
                <h4>Fill any 2D area with as many photos as you want!</h4>
                <p>By storing you images, we can fill a canvas 2D HTML object to compact them all as tight as possible. </p>
            </div>
            <div class="col-6">
                <img src="img/2D_example.jpg" class="landing-image" alt="2D Sample image" />
            </div>
        </div>
    </div>
</section>

<section class="silver-section" id="">
    <div class="container-fluid cf-padding">
        <h1>A Sample of 360 Environment</h1>
        <div class="row">
            <div class="col-6">
                <h4>Arange a small number of photo around a central point so they can be viewed in a 360 dgree manner</h4>
                <p>An ocean environment with a users selection of trophy fish can be previewed for an example.</p>
                <a class="btn btn-primary" id="ocean_environment_preview" asp-area="" asp-controller="Home" asp-action="ocean_environment">Preview</a>
            </div>
            <div class="col-6">
                <img src="img/ocean_example_thumbnail.jpg" class="landing-image" alt="2D Sample image" />
            </div>
        </div>
    </div>
</section>

<section class="clear-section" id="">
    <div class="container-fluid cf-padding">
        <h1>Sample of 3D environment</h1>
        <div class="row">
            <div class="col-6">
                <h4>Arange a small to large number of photos into a 3D gallery environment world that you want walk through</h4>
                <p>A gallery environment where a user has upload photos of their puzzels can be previewed for an example.</p>
                <a class="btn btn-primary" id="gallery_environment_preview" asp-area="" asp-controller="Home" asp-action="gallery_environment">Preview</a>
            </div>
            <div class="col-6">
                <img src="img/gallery_example_thumbnail.jpg" class="landing-image" alt="2D Sample image" />
            </div>
        </div>
    </div>
</section>

