@{
    ViewData["Title"] = "Home Page";
}


<div class="col">
    <p>@ViewBag.Message</p>
</div>

<section class="clear-section" id="landing-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1 class="main-title">iCollections</h1>
                <p>The best way to share your collections and collectables</p>
            </div>
            <div class="col-6">
                <img src="img/landing_sample.JPG" class="landing-image" alt="ICollections landing image"/>
            </div>
        </div>
    </div>
</section>

<section class="silver-section" id="">
    <div class="container-fluid">
        <h1>Project Purpose and Vision</h1>
        <p>For anyone who wants a easy and fun way to share with others their collections or collectables, the 360 iCollectables Creator can upload and render photos of their collectable items that will be displayed in 2D, 360 degree, or possibly 360 full virtual environment. The system will store the users uploaded photos of items, allow user selection of the available environments, and give the ability to place their items into the environment at specific locations, and then allow others to view their environments filled with their collectable items. Unlike albums of photos our users will be able to show off large collections of items in a single format that can easily show the scale of the collection, while maintaining the ability to inspect individual items closely.</p>
    </div>
</section>

<section class="clear-section" id="">
    <div class="container-fluid">
        <h1>Description of Features</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="col mb-4">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-title" href="https://americanalpineclub.org/">American Alpine Club</a>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-title" href="https://climbingthesevensummits.com/">Climbing the 7 Summits</a>
                </div>
            </div>
        </div>


        <div class="col mb-4">
            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-title" href="https://www.petzl.com/fondation/fondation-petzl?language=en#.WqwSl2a-JoO">Petzl Foundation</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<section class="clear-section" id="">
    <div class="container-fluid">
        <h1 class="text-center">How Does it Work?</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h3>Step 1. Upload your photos for your new iCollection.</h3>
                    <h5 class="text-center">You can make an iCollection of anything! What do you collect? What do you want to view as a collection?</h5>
                    <img class="d-block w-100" src="img/upload_photo_sample.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <h3>Step 2. Select an iCollections Environment</h3>
                    <h5 class="text-center">Choose the best way to share your individual collections</h5>
                    <img class="d-block w-100" src="img/collection_selection_example.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <h3>Step 3. Review, Edit, and Share your new iCollection with Friends!</h3>
                    <h5 class="text-center">You can also go back and make any changes as your collection grows!</h5>
                    <img class="d-block w-100" src="img/finish_environment_sample.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>



<section class="clear-section" id="">
    <div class="container-fluid">
        <h1>Sample of 2D environment</h1>
    </div>
</section>

<section class="silver-section" id="">
    <div class="container-fluid">
        <h1>Sample of 3D environment</h1>
    </div>
</section>

<section class="clear-section" id="">
    <div class="container-fluid">
        <h1>Sample of 360 environment</h1>
    </div>
</section>