/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* background: linear-gradient(to right, #e96443, #904e95); */
  min-height: 100vh
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}

.border-me {
  border: 1px solid black;
}

.news {
  line-height: 60px;
  margin-left: 0px;
  margin-right: 0px;
}

.ago {
  text-align: right;
}

.profile-pic {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.fake-profile-image {
  height: 200px;
  width: 200px;
  background-color: black;
  display: inline-block;
}

.post-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
}

.activity {
  line-height: 0.9;
}

.post {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.thumbnail {
  font-size: 2.5em;
}

.date {
  margin-top: 4px;
}

.feed {
  background-color: #e5e5e5;
}

.feed-object {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
}

.last-object {
  margin-bottom: 20px;
}

#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(0, 0, 0, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: 'Uploaded image result';
  color: #555555;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
}

h1 {
  font-weight: bold;
}

.right-button {
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/*Home Page Styles */

/*.clear-section {
  background-color: #fff;
}

.silver-section {
  background-color: #e5e5e5;
}

.container-fluid {
  padding: 7% 15%;
}

.main-title {
  font-size: 3.7rem;
  line-height: 1.5;
  text-align: left;
}

.landing-image {
  max-width: 100%;
  height: auto;*/
  /* padding-left: 110px; */
  /*margin: 2px;
}*/

.options {
  padding: 20px;
}

.big-name {
  font-size: 15px;
  font-weight: bold;
}

.details-big-name {
  font-size: 35px;
  font-weight: bold;
}

.simple-option {
  padding: 5px 0;
}

.dashboard-profile-header {
  margin-bottom: 23px;
  max-width: 95%;
  height: auto;
  /* padding-left: 110px; */
  margin: 5px;
}

.carousel-custome-text {
  color: #000000;
  font-size: large;
  background-color: #ffffff;
}

.carousel-control-prev {
  color: #000000;
}

.middle-input {
  margin-bottom: 30px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#customNameError {
  color: red;
}

#uploadPhotoError {
  color: red;
}

/* UserPage Styles */

.user-profile-obj {
  background-color: whitesmoke;
  border: 1px solid grey;
  padding: 1em 1em 1em 1em;
}

.user-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 1em;
  display: block;
}

.about-me {
  background-color: lightgray;
  border: 1px solid grey;
  border-radius: 1em;
  padding: 1em 1em 1em 1em;
}

.user-profile-nav {
  text-align: center;
}

.user-profile-nav a {
  display: block;
  padding: 0.1em 0.1em 0.1em 0.1em;
  margin: 0.0em 0.0em 0.0em 0.0em;
  color: black;
}

.user-profile-nav li:hover {
  background-color: lightslategrey;
  color: lightblue;
}

/* Follower Navigation Page */

.user-follow-block {
  background-color: lightgrey;
  border: 1px solid grey;
}

.user-follows {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
}

/* Collection Navigation Page */

.collection-container {
  background-color: whitesmoke;
  border: 1px solid lightgrey
}

.keyword-container {
  background-color: lightgrey;
  border: 1px solid grey;
  overflow: scroll;
}

/* Navbar Styles */

.navbar-primary {
  margin-bottom: 0px;
}

.navbar-secondary {
  margin-top: 0px;
  min-height: 1em;
  font-size: 0.9rem;
}

#uploadPhotoError {
  color: red;
}

.upload-ui {
  padding: 92px;
}

.search-bar {
  position: relative;
  margin-bottom: 0rem;
}

/* User Search Styles */

.user-search-item {
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em 0.5em 1em;
}

.user-search-item div.img-container {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  margin: 0em 0.2em 0.2em 0em;
}

.img-container img {
  position: absolute;
  min-width: 100%;
  height: 100%;
}

.follow-box {
    margin-left:auto;
}

/* Browse search results */
.browse-result-txt {
    font-size:small;
}

.organize-row {
  margin-top: 30px;
}

.selected-thumbnail {
  box-shadow: rgba(16, 91, 212, 0.767) 0px 5px 15px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main-with-header {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

.pic-thumbnail {
  border: 1px solid #2C3E50;
}

.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat
}

.width-full {
  width: 100%!important;
}

.text-bold {
  font-weight: 600!important;
}

.min-width-0 {
  min-width: 0!important;
}

.flex-auto {
  flex: auto!important;
}

.unmarked-a {
  text-decoration: none;
}

.center-heading {
  margin-left: auto;
  margin-right: auto;
}

.main-dashboard-avatar {
  margin: auto;
  display: block;
}

.something-inside {
  position: relative;
}

.place-at-bottom {
  position: absolute;
  bottom: 11px;
}

.my-hidden-object {
    display: none;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}