<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iCollections</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/environment_styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow navbar-primary" aria-label="Primary Nav">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">iCollections</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbars" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbars">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <!--Browse-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Browse" asp-action="Index">Browse</a>
                            </li>
                            
                            <!--Dashboard-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </li>
                        }
                    </ul>
                    @if (SignInManager.IsSignedIn(User))
                    {
                    <!--Search Bar-->
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <div class="form-group search-bar">
                                <form method="get" asp-controller="Search" asp-action="SearchUser" class="form-inline">
                                    <input class="form-control" type="search" title="Search users" minlength="2" name="user" placeholder="Search users" aria-label="Search Users" />
                                    <button class="btn btn-dark" style="display:inline" type="submit">Search</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    }

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - iCollections - <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/follows.js" asp-append-version="true"></script>
    <script src="~/js/manage_photos.js" asp-append-version="true"></script>
    <script src="~/js/back_button.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
