@model CreateCollectionRoute

@{
    ViewData["Title"] = "Create iCollection";
}

<h1 class="creation-page-title">Environment Selection</h1>
<h4>Please Select from one of the following environments</h4>
@if (ViewData["routeName"] != null )
{
    <h3 class="checkboxWarning">You need to select one of the environment options to continue.</h3>
}
<form asp-controller="CreateCollection" asp-action="EnvironmentSelection" method="post" class="">
    <div asp-validation-summary="All" class="text-danger"></div>

    <section class="clear-section " id="">
        <div class="container-fluid cf-padding">
            <div class="row">
                <div class="col-2">
                    <div class="form-group environment-select-checkbox">
                        <input asp-for="Route" type="checkbox" class="form-control" id="ocean_environment" value="ocean_environment" />
                        <span asp-validation-for="Route" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-10">
                    <h1>Ocean Environment</h1>
                    <div class="row">
                        <div class="col-6">
                            <h3>360 Degree View</h3>
                            <h4>1 to 8 photos capacity</h4>
                            <p>Ocean environment with water and a Sunset that has the photos partially submerged</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="ocean_environment">Preview</a>
                        </div>
                        <div class="col-6">
                            <img src="~/img/ocean_example_thumbnail.jpg" class="landing-image" alt="2D Sample image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="silver-section" id="">
        <div class="container-fluid cf-padding">
            <div class="row">
                <div class="col-2">
                    <div class="form-group environment-select-checkbox">
                        <input asp-for="Route" type="checkbox" class="form-control" id="gallery_environment" value="gallery_environment" />
                        <span asp-validation-for="Route" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-10">
                    <h1>Open Air Night Gallery</h1>
                    <div class="row">
                        <div class="col-6">
                            <h3>Full Virtual Environment</h3>
                            <h4>1 to 40 photos capacity</h4>
                            <p>Gallery Environment with Minimalist Interior and Night Sky Setting</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="gallery_environment">Preview</a>
                        </div>
                        <div class="col-6">
                            <img src="~/img/gallery_example_thumbnail.jpg" class="landing-image" alt="2D Sample image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="row justify-content-end environment-buttons">
        <div class="col-2">
            <div class="form-group">
                <input id="continue_on" type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/checkbox_selection.js" asp-append-version="true" type="module"></script>