@*@model CreateCollectionPhotos*@

@{
    ViewData["Title"] = "Create iCollection";
}

@using Microsoft.AspNetCore.Identity
@using iCollections.Data;


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ICollectionsDbContext AppContext

<h1 class="creation-page-title">Photo Selection</h1>
<h4>Please Choose the Photos you want in your iCollection</h4>
@if (ViewData["errorPresent"] != null)
{
    <h3 class="checkboxWarning">Ocean Environment must be 1-8 photos</h3>
    <h3 class="checkboxWarning">Gallery Environment must be 1-40 photos</h3>
    <h3 class="checkboxWarning">Please choose your photos accordingly</h3>
}
<form asp-action="PhotoSelection" method="post">
    @if (SignInManager.IsSignedIn(User))
    {
        string id = UserManager.GetUserId(User);
        IcollectionUser appUser = AppContext.IcollectionUsers.Where(u => u.AspnetIdentityId == id).FirstOrDefault();


        @if (AppContext.Photos.Where(u => u.UserId == appUser.Id).ToList().Count == 0)
        {
            <h2>It looks like you don't have any photos. Go <a asp-controller="UploadPhoto" asp-action="Index">upload photos</a> in order to create an iCollection</h2>
        }
        @if (AppContext.Photos.Where(u => u.UserId == appUser.Id).ToList().Count > 0)
        {
            <div class="row">
                @foreach (var photo in AppContext.Photos.Where(u => u.UserId == appUser.Id).ToList())
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 card">
                        <div class="bg-white rounded pic-thumbnail">
                            <img src="data:image;base64,@System.Convert.ToBase64String(photo.Data)" alt="" class="img-fluid card-img-top">
                            <div class="p-4">
                                <h6 class="card-title">@photo.Name</h6>

                                <div class="p-4 form-group">
                                    <input type="checkbox" class="photo-select-checkbox" id="photo_checkbox" name="selectedPhotos" value="@photo.Id" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    }


    <div class="row justify-content-end environment-buttons">
        <div class="col-1">
            <a class="btn btn-primary" asp-controller="CreateCollection" asp-action="EnvironmentSelection">Back</a>
        </div>
        <div class="col-2">
            <div class="form-group">
                <input id="continue_on" type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </div>
    </div>


</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}