@{
    ViewData["Title"] = "Create iCollection";
}

<h1>Photo Selection page</h1>

<a class="btn btn-primary" asp-controller="CreateCollection" asp-action="EnvironmentSelection">Back</a>
<a class="btn btn-primary" asp-controller="CreateCollection" asp-action="PublishingOptionsSelection">Continue</a>