@{
    ViewData["Title"] = "Create iCollection";
}

<h1>Publishing Success page</h1>

<h3>View link for icollection</h3>



<a class="btn btn-primary" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
