@model CreateCollectionPublishing
@{
    ViewData["Title"] = "Create iCollection";
}

<h1 class="creation-page-title">Publishing Options</h1>
<h4>Please Select from the following publishing options.</h4>
<form asp-controller="CreateCollection" asp-action="PublishingOptionsSelection" method="post" class="align-items-center">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row justify-content-center">
        <div class="col-6">

            <div class="form-outline mb-4">
                <label asp-for="CollectionName" class="col-sm-4 col-form-label">Collection Name</label>
                <input asp-for="CollectionName" class="form-control">
                <span asp-validation-for="CollectionName" class="text-danger"></span>
            </div>

            <div class="form-outline mb-4">
                <label asp-for="Visibility">Select the privacy levels</label>
                <select asp-for="Visibility" class="form-control" asp-items="ViewBag.Visibility"></select>
                <span asp-validation-for="Visibility" class="text-danger"></span>
            </div>

            <div class="form-outline mb-4">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-outline mb-4">
                <label asp-for="SelectedKeyword">Select an Option from the Collection Keyword Options</label>
                <select asp-for="SelectedKeyword" class="form-control" asp-items="ViewBag.KeywordsAvailable"></select>
                <span asp-validation-for="SelectedKeyword" class="text-danger"></span>
            </div>

        <div class="row justify-content-end environment-buttons">
            <div class="col-2 justify-content-end">
                <a class="btn btn-primary" asp-controller="CreateCollection" asp-action="PhotoSelection">Back</a>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="submit" id="continue_on" value="Publish" class="btn btn-primary" />
                </div>
            </div>
        </div>
            
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}