@{
    ViewData["Title"] = "Create iCollection";
}

<h1>Publishing Options Selection page</h1>

<a class="btn btn-primary" asp-controller="CreateCollection" asp-action="PhotoSelection">Back</a>
<a class="btn btn-primary" asp-controller="CreateCollection" asp-action="PublishingSuccess">Continue</a>
